/.idea/
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1-natives/
/crash-reports/
/local/
/logs/
/mods/
/PCL/
/resourcepacks/
/saves/
/shaderpacks/
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1.jar
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1.json
/usernamecache.json
/BotaniaVars.dat
/crafttweaker.log
/usercache.json
/optionsof.txt
/options.txt
/patchouli_data.json
/config/acronym/
/config/brandon3055/
/config/AppliedEnergistics2/
/config/codechicken/
/config/cofh/
/config/jei/
/config/mekanism/
/config/exnihilocreatio/
/config/exnihiloomnia/
/config/fpsreducer/
/config/voidislandcontrolstructures/
/config/xnet/
/config/storagedrawers.cfg
/config/mcjtylib.cfg
/config/baubles.cfg
/config/mekanism.cfg
/config/botania.cfg
/config/flux_networks.cfg
/config/foamfix.cfg
/config/tconstruct.cfg
/config/splash.properties
/config/forge.cfg
/config/codechickenlib.cfg
/config/mekores.cfg
/config/forgeChunkLoading.cfg
/config/placebo.cfg
/config/ironchest.cfg
/config/TinkerModules.cfg
/config/toastcontrol.cfg
/config/treegrowingsimulator.cfg
/config/voidislandcontrol.cfg
/config/xlfoodmod.cfg
