1.12.2*
config
crash-reports
local
logs
mods
!/mods/tbtmats-*.jar
saves
PCL
resourcepacks
shaderpacks
BotaniaVars.dat
crafttweaker.log
options.txt
optionsof.txt
pachouli_data.json
usercache.json
usernamecache.json