/.idea/
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1-natives/
/config/
/crash-reports/
/local/
/logs/
/mods/
/PCL/
/resourcepacks/
/saves/
/shaderpacks/
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1.jar
/1.12.2-Forge_14.23.5.2860-OptiFine_G6_pre1.json
/usernamecache.json
/BotaniaVars.dat
/crafttweaker.log
/usercache.json
/optionsof.txt
/options.txt
/patchouli_data.json
